@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, to Rank Interactive Credit Card Management System</h1>
    <input type="button" value="Manage Credit Cards" onclick="location.href='@Url.Action("List", "CreditCard")'" />
</div>
